#adddoctor {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adddoc-inner {
  height: 450px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 7px;
  box-shadow: 4px 4px 3px rgb(83, 78, 78), -1px -1px 3px rgb(83, 78, 78);
}

.adddoc-form {
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.adddoc-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.adddoc-form form div label {
  font-size: 18px;
}
.form-doc {
  height: 500px;
  width: 500px;
  margin-top: 4%;
}
.inner-editdoc {
  height: 350px;
  width: 300px;
}
