#addpatient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-newpat {
  height: 800px;
  width: 500px;
  margin-top: 4%;
}

.form-editpat {
  height: 900px;
  width: 500px;
  margin-top: 4%;
}

.form-editpat h1 {
  margin-bottom: 8% !important;
  font-size: 30px;
}

.inner-newpat {
  height: 700px;
}

.gender {
  display: flex;
  justify-content: space-between;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
}

.btn-submit {
  display: flex;
  justify-content: center;
}
.btn-submit button {
  background: #0c2461;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 7px;
}
.btn-submit button:hover {
  background: #334b8e;
  color: white;
  border-color: none;
  border-radius: 7px;
  box-shadow: 2px 2px 3px #587cdf;
  transition: 0.5s all;
  transform: translateZ(1px);
}
.text-success {
  height: 50px;
  text-align: center;
}
