body {
  counter-reset: Serial;
}

table {
  border-collapse: collapse;
}

tr td:first-child:before {
  counter-increment: Serial;
  content: counter(Serial);
}

td {
  color: #0c2461;
}

table {
  margin-top: 50px;
  box-shadow: 4px 4px 3px rgb(83, 78, 78), -1px -1px 3px rgb(83, 78, 78);
}

table:hover {
  background-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.search-box {
  width: inherit;
  align-self: flex-end;
  margin-top: 50px;
}
.search-box button {
  background: #0c2461;
  color: white;
}
.search-box button:hover {
  background: #273c75;
  box-shadow: 2px 2px 3px #587cdf;
  transform: translateZ(1px);
  transition: 0.5s all;
}

.thead {
  background: #0c2461;
  color: white;
}

table,
thead,
td {
  border-color: black;
}
