{% extends "layout.html" %} {% include "includes/nav.html" %} {% block content
%}
<section id="addpatient">
  <div class="form-editpat form-style">  
    <h1 class="mt-4">Edit Patient</h1>
    {% for edit in editpat %}
    <form action="" method="POST">
      <div class="inner-form">
      <div class="form-input">
        <label for="npname">Name:&nbsp;</label>
        <input type="text" class="text1" id="pname" name="npname" required value="{{ edit.pname }}" />
      </div>
      <div class="form-input">
        <label for="nage">Age:&nbsp;</label>
        <input
          type="number"
          class="text1"
          id="age"
          maxlength="3"
          min="0"
          name="nage"
          value="{{ edit.age }}"
          required
        />
      </div>
      <div class="form-input">
        <label for="nphone">Phone No:&nbsp;</label>
        <input
          type="number"
          class="text1"
          id="age"
          maxlength="12"  
          min="10"
          name="nphone"
          value="{{ edit.phone }}"
          required
        />
      </div>
      <div class="form-input gender">
        <label for="ngender">Gender :</label>
        <div class="radio">
          <input type="radio" value="male" name="ngender" checked><label>Male</label>
        </div>
        <div class="radio">
          <input type="radio" value="female" name="ngender"><label>Female</label>
        </div>
      </div>
      <div class="form-input">
        <label for="nbgroup">Blood Group:&nbsp;</label>
        <select id="bgroup" class="text1" name="nbgroup">
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>          
        </select>
      </div>
      <div class="form-input">
        <label for="nstate">State & City:&nbsp;</label>
        <input type="text" id="state" class="text1" name="nstate" value="{{ edit.state }}">
      </div>
      <div class="form-input">
        <label for="naddress">Address:&nbsp;</label>
        <input type="text" id="address" class="text1" name="naddress" value="{{ edit.address }}">
      </div>
      <div class="form-input">
        <label for="nmstatus">Maritial Status:&nbsp;</label>
        <select id="mstatus" class="text1" name="nmstatus">
          <option value="Married">Married</option>
          <option value="Unmarried">Unmarried</option>
        </select>
      </div>
      <div class="form-input">
        <label for="ncomplaint">Complaints:&nbsp;</label>
        <textarea class="text1" name="ncomplaint" id="complaint">{{ edit.complaint}}</textarea>
      </div>
      <div class="form-input">
        <label for="nimprovement">Improvement:&nbsp;</label>
        <textarea class="text1" name="nimprovement" id="improvement">{{ edit.improvement}}</textarea>
      </div>

      <div class="form-input btn-submit">
        <button class="button mt-2" type="submit">Update</button>

      </div>
    </form>
    {% endfor %}
   
  </div></div> 
  
</section>

{% endblock %}
