<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'nav.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'newpatient.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'patrcd.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'account.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'viewapp.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'appointment.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'adddoctor.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'commonstyle.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'alldoc.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'allapp.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'popup.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'footer.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'home.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Orbitron"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    {% block nav %} {% endblock nav %} {% block popup %}
    <div class="modal">
      <div class="modalContent">
        <span class="close"
          ><i class="fa fa-times-circle-o" aria-hidden="true"></i
        ></span>
        <p>Are you sure you want to logout?</p>
        <button class="del mr-3" onclick="hideModal()">
          <a href="{{ url_for('logout') }}">Logout</a>
        </button>
        <button class="cancel text-center" onclick="hideModal()">
          <a href="{{ url_for('home') }}">Cancel</a>
        </button>
      </div>
    </div>
    {% endblock popup %} {% block content %} {% endblock content %} {% block
    footer %} {% endblock footer %}
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script src="../static/js/popup.js"></script>
</html>
