{% extends 'layout.html' %}{% block footer %}
<section id="footer">
  <div class="inner-footer">
    <div class="ml-5 mt-2 clinic-name">
      <p>Clinic Name</p>
    </div>
    <div class="madeby">
      <h5 class="mr-5 mt-2">
        ~~ &nbsp; Made By Adnan Shaikh & Shabina Siddiqui
      </h5>
      <div class="social">
        <div class="adnan">
          <a
            href="https://www.linkedin.com/in/adnan-shaikh-0909/"
            target="”_blank”"
          >
            <i class="fa fa-linkedin linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/adnanshaikh2000" target="”_blank”">
            <i class="fa fa-github github" aria-hidden="true"></i>
          </a>
        </div>
        <div class="shabina">
          <a
            href="https://www.linkedin.com/in/shabina-siddiqui/"
            target="”_blank”"
          >
            <i class="fa fa-linkedin linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/shabinasiddiqui" target="”_blank”">
            <i class="fa fa-github github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock footer %}
