{% extends 'layout.html' %}{% include "includes/nav.html" %}{% block content%}

<div class="container">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
  messages %}
  <small class="text-success border border-success text-align-center"
    >{{ msg }}</small
  >
  {% endfor %} {% endif %} {% endwith%}
  <div class="table table-bordered table-hover">
    {% if alldoctor %}
    <table border="2" cellpadding="5px">
      <thead class="thead">
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Qualification</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      {% for i in alldoctor %}
      <tr scope="row">
        <td></td>
        <td>{{ i.dname }}</td>
        <td>{{ i.dphone }}</td>
        <td>{{ i.dqual }}</td>
        <td>
          <button type="button" class="dbutton" onclick="window.location=''">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <button
            type="button"
            class="ubutton"
            onclick="window.location='editdoctor/{{ i.id }}'"
          >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <button
            type="button"
            class="dbutton"
            onclick="window.location='deletedoctor/{{ i.id }}'"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %} {% endblock content %}
