{% extends "layout.html" %} {% include "includes/nav.html" %} {% block content
%}
<div class="container">
  <div class="search-box">
    <form class="d-flex" action="" method="POST">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        name="pname"
        id="pname"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="app-form">

  </div>
</div>

{% endblock content %}
